<title>Home</title>

{% extends "users/layout.html" %}
    {%load static %}

{%block content%}

    <main role="main ">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron backgroundIMG text-white" style="background-image:url({%static 'users/image/web.jpg'%});">
            <div class="container homeText">
                <h1 class="display-3 mt-2">Communicate with other Coders</h1>
                <p> A faster and better way to communicate with coders and your fellow friends. You are stuck and need help with your code? Don't pull your hair out, We are here to Help </p>
                <p><a class="btn btn-success btn-lg signup" href="{%url 'users:registration'%}" role="button">Sign Up &raquo;</a></p>
            </div>
        </div>

    </main>

    <footer class="text-center">
    </footer>

    




{%endblock content%}