<title>Registration</title>
{% extends "./layout.html" %}

{%block head%}

{% load static %}

{%endblock head%}

{%block content%}

    <body class="text-dark RegBackgroundIMG" style="background-image: url('{%static "users/image/dojo.jpeg"%}');">
        <div class="container regForm col-7">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="{%static 'users/image/codingdojo.jpg'%}" alt="" width="100" height="100">
                <h2>Registration form</h2>
                <p class="lead">Conenct with Friends and Coders Just like You..</p>
            </div>


            <div class=" order-md-1 ">
                <h4 class="mb-3">Your Information</h4>
                {% if messages %}
                    <ul class=" list-inline messages text-danger">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <form class="needs-validation" action="{%url 'users:create'%}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>

                            {%if request.session.tempUserData.firstname%}
                                <input type="text" class="form-control " id="firstName" name="first_name" value={{request.session.tempUserData.firstname}}>

                            {%else%}
                                <input type="text" class="form-control " id="firstName" name="first_name" value="" placeholder="Enter first name">
                            {%endif%}
        
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            {%if request.session.tempUserData.lastname%}
                                <input type="text" class="form-control" id="lastName" name="last_name" value={{request.session.tempUserData.lastname}}>

                            {%else%}
                                <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Enter last name">
                            {%endif%}

                        </div>
                    </div>
                    <div class=" mb-3">
                        <label for="userName">User name</label>
                        {%if request.session.tempUserData.user_name%}
                            <input type="text" class="form-control" id="userName" name="user_name" value={{request.session.tempUserData.user_name}}>

                        {%else%}
                            <input type="text" class="form-control" id="lastName" name="user_name" placeholder="Enter User name">
                        {%endif%}

                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>

                        {%if request.session.tempUserData.email%}
                            <input type="text" class="form-control" name="email" id="email" value={{request.session.tempUserData.email}} placeholder="you@example.com">

                        {%else%}
                            <input type="text" class="form-control" name="email" id="email" placeholder="you@example.com">
                        {%endif%}

                        
                    </div>

                    <div class="mb-3">
                        <label for="birthday">Birthday</label>
                        <input type="text" id="birthday" name="birth_date"  class="form-control" value="" placeholder="Birthday: YYYY-MM-DD" />
                    </div>

                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                        <small class="ml-1 font-weight-light">8+ characters, atleast One Uppercase, and number</small>

                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" name="password_confirm" id="confirmPassword" placeholder="confirm password">
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>

                </form>
                <small>Already have an Account? <span><a href="{%url 'users:login'%}">Login Here</a></span></small>
            </div>
                <!-- FOOTER -->
            <footer class="my-5 pt-5 text-muted text-center text-small regFooter">
                <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </footer>
        </div>
        
    </body>
{%endblock content%}
</html>
