{%extends "./dashboard_layout.html"%}


{%block head%}
    <title>Profile</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'dashboard/css/profileStyleSheet.css'%}">

{%endblock head%}


{%block content%}

    

    <div class="container col-10 mt-5">

        <div class="py-5 background text-white mb-3">

            <div class="text-left rightHeader d-inline-block">
                <h2 class="ml-3 font-weight-light">{{user.user_name}}</h2>

                <small class="d-block ml-4 font-weight-light"><i class="fas fa-birthday-cake "></i> {{user.birth_date}}</small>
                <small class="d-block  ml-4 mt-1 font-weight-light"><i class="fas fa-at"></i> {{user.email}}</small> 
            </div>
            {% ifnotequal user.id request.session.user_id  %}

                <div class="d-inline">
                    {% if Are_you_Friend%}
                        <form action="{%url 'friends:delete' user_id=user.id%}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" id="friend_user_id" name="friend_user_id" value="{{ user.id }}">
                            <input type="hidden" id="user_id" name="user_id" value="{{ request.session.user_id }}">
                            <button type="submit" class="btn btn-primary shadow font-weight-light  pt-1 ml-3 pb-1 mb-5 friendBTN"> <i class="fas fa-user-friends"></i> <span>Friend</span> </button>
                        </form>
                    {%elif waitingForConfirmation%}
                        <a class="btn btn-warning shadow font-weight-light pt-1 pb-1 mb-5"> <i class="far fa-clock"></i> Waiting confirmation </a>
                    {% else %}
                       
                        <form action="{%url 'friends:create' user_id=user.id%}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" id="friend_user_id" name="friend_user_id" value="{{ user.id }}">
                            <input type="hidden" id="user_id" name="user_id" value="{{ request.session.user_id }}">
                            <input type="hidden" name="location" value="profilePage">
                            <button type="submit" class="btn btn-light shadow font-weight-light  pt-1 ml-3 pb-1 mb-5"> <i class="fas fa-user-plus"></i> Add Friend</button>
                        </form>
                    {% endif %}
                    
                    

                    <form action="{% url 'pokes:create' user_id=user.id%}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" id="poke_user_id" name="poke_user_id" value="{{ user.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ request.session.user_id }}">
                        <button type="submit" class="btn btn-success shadow font-weight-light  pt-1 ml-3 pb-1 mb-5"><i class="fas fa-hand-point-up"></i> Poke</button>
                    </form>
                </div>
            
            {% endifnotequal %}
            


        </div>

        <section class="lowerSection col-12 ml-2">

            <div class="leftsection">
                <div class="bg-light shadow">
                    <div class="Imagecontainer">
                        
                        {% ifequal user.id request.session.user_id %}
                            <a href="#" data-toggle="modal" data-target="#edit">
                                <img class="mb-2 " src="..{{user.profile.url}}" alt="profile pic">
                                <div class="overlay">Edit</div>
                            </a> 
                        {%else%}
                            <img class="mb-2 " src="..{{user.profile.url}}" alt="profile pic">
                        {% endifequal %}
                        
                    </div>
                    <div class="ml-3 pr-2">
                        <small class="font-weight-bold">About</small>
                        <p> <small>{{user.description}}</small></p>
                        <hr>
                    </div>
                    <div class="social ml-3">
                        <div class="row">
                        <ul class="col-5 text-muted mr-4">
                            <li class="mb-2">Friends</li>
                            <li>Poke</li>
                            <li></li>
                        </ul>
                        <ul class="col-5 text-weight-bold ml-3">
                            <li class="mb-2">{{ totalFriend }} {% if totalFriend == 1 %} <i class="fas fa-user"></i> {% else %} <i class="fas fa-users"></i> {% endif %}</li>
                            <li>{{ poke_count }} {% if poke_count == 1 %} <i class="fas fa-user"></i> {% else %} <i class="fas fa-users"></i> {% endif %}</li>
                            <li></li>
                        </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="friendSection bg-light mt-4 shadow pb-3 pt-3">
                    <h5 class="font-weight-light ml-3 "><i class="fas fa-users"></i> Friends</h5>
                    <hr>
                    {% ifequal friends.count 0%}
                        <small class="ml-2">No friends yet</small>
                    {% endifequal %}

                    {% for index in friends %}
                        <div class="ml-3 mb-2">
                            <img class="rounded-circle d-inline-block mr-3" src="..{{index.profile.url}}" alt="Profile picture" width="40" height="40">
                            <a href="{%url 'dashboard:profile' user_id=index.id%}"><small class="text-dark">{{index.first_name}} {{index.last_name}}</small></a> 
                        </div>
                    
                    {% endfor %}
                    
                    
                </div>
            </div>

            <div class="rightsection col-8 pt-4">

                {% if messages %}
                    <ul class=" list-inline messages text-{{request.session.messageColor}}">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% ifequal user.id request.session.user_id %}
                    <h6 class="font-weight-light mb-3">Your Posts</h6>
                
                {% else %}
                    <h6 class="font-weight-light mb-3">{{user.user_name}} Posts</h6>
                {% endifequal %}
                <hr>
                <div id="postContent"></div>
            </div>


        </section>

        

    </div>






<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <div class="modalHeader text-center">
                    <button class=" btn btn-light" id="editButton">Edit Information</button>
                    <button class=" btn btn-light ml-2" id="passswordButton">Change Password</button>
                </div>
                <button type="button" class="close closebutton ml-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="editInfoSection">
                        <h6 class="mb-3 bg-dark text-white p-2 shadow">Edit Information</h6>
                        <form class="needs-validation" action="{%url 'users:update' user_id=user.id%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="image" id="real-file" hidden="hidden"/>
                            <button type="button" class="btn btn-sm btn-info p-2 d-block mt-4" id="custom-button">Choose Image</button>
                            <div class=" mt-2 font-weight-light ml-3 d-block pb-3"> 
                                <a id="custom-text" href="..{{user.profile.url}}"> {{user.profile.url}}</a> 
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control " id="firstName" name="first_name" value="{{user.first_name}}">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name" value="{{user.last_name}}">
                                </div>
                            </div>
                            <div class=" mb-3">
                                <label for="username">User name</label>
                                <input type="text" class="form-control" id="username" name="user_name" value="{{user.user_name}}">
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" id="email" value="{{user.email}}">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description" id="description" rows="3" value="{{user.description}}">{{user.description}}</textarea>
                            </div>

                            <hr class="mb-4">
                            <div class="text-right">
                                <button class="btn btn-success shadow" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                    <div class="editPasswordSection">
        
                        <h6 class=" mb-3 bg-dark text-white p-2 shadow">Change Password</h6>
                        <form class="needs-validation" action="{%url 'users:update' user_id=user.id%}" method="post">
                            {% csrf_token %}
            
                            <div class="mb-3 ">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="password">
            
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" name="confirmpassword" id="confirmPassword" placeholder="confirm password">
                            </div>
                            <input type="hidden" name="editRequest" id="user_id" value="fromUser">
                            <hr class="mb-4">
                            <div class="text-right">
                                <button class="btn btn-success shadow" type="submit">Update Password</button>
                            </div>
            
                        </form>
                        
                            
                    </div>
                </div>
                
                
    
            </div>

        </div>
    </div>
</div>
<script>
    // create user, upload image feature
    const realFileBtn=document.getElementById("real-file");
    const customButton=document.getElementById("custom-button");
    const customText=document.getElementById("custom-text");

    customButton.addEventListener("click",function(){
        realFileBtn.click();

    });
    realFileBtn.addEventListener("change",function(){
        if (realFileBtn.value) {
            customText.innerHTML=realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];

        }
        else{
            customText.innerHTML="No image Chosen yet !"
        }
    });
    
    $.ajax({
        
        method:"GET",
        url:"{%url 'dashboard:FetchMyPost' %}",
        data:{
            user_id:"{{user.id}}"
        },
        success:function(response){
            $("#postContent").html(response)
            
            PostBoxEffect();
        }
        
    })

</script>

{%endblock content%}